<style>
  @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <div class="container-fluid">
    <div class="row-kahuna">
    <div class="col-sm-4 first">
      
         <!--Mailbox Icon-->
         
         <svg width="8em" height="5em" viewBox="0 0 16 16" class="bi bi-mailbox" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4 4a3 3 0 0 0-3 3v6h6V7a3 3 0 0 0-3-3zm0-1h8a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4zm2.646 1A3.99 3.99 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3H6.646z"/>
            <path fill-rule="evenodd" d="M11.793 8.5H9v-1h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.354-.146l-.853-.854z"/>
            <path d="M5 7c0 .552-.448 0-1 0s-1 .552-1 0a1 1 0 0 1 2 0z"/>
          </svg><br>
          <h2>PetalMail.com</h2><br>
          <!--Compose Button-->
          
          <button [routerLink]="'/compose'"type="button" class="btn btn-warning">Compose</button><div class="space"></div><br>
          <button [routerLink]="''" class="btn btn-secondary">Logout</button>
          <br><br>

          <!--folders go here-->
        
        <ul>
            <li><button [routerLink]="'/view-emails'" class="btn btn-light"><strong>Inbox</strong></button></li>
            <li><button [routerLink]="'/contacts'" class="btn btn-light">Contacts</button></li>
            <li><button [routerLink]="'/sent'" class="btn btn-light">Sent</button></li>
            <li><button [routerLink]="'/spam'" class="btn btn-light">Spam</button></li>
            <li><button [routerLink]="'/trash'" class="btn btn-light">Trash</button></li>
        </ul>
        
    </div>
    <div class="col-sm-8 second">
         <!--Searchbar-->
        
         <br><br><input type="text" placeholder="Search for emails...">
         <!--Search icon-->
        
         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
           <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
           <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
         </svg><hr>
        <!--messages go here-->

        
<div>
  <div *ngFor="let email of emails">
    <button class="emailButton" (click)="viewMessage(email.id)">
     
     <strong> {{ email.subject }} </strong>
     <span> {{ email.sender }} </span>
      {{ email.body | slice:0:50 }}
    </button><br>
    </div>

  </div>


<router-outlet></router-outlet>