.container-fluid{
    padding-top: 10px;
    background-image: url('/assets/petal3.jpg');
    height: 800px; 
   /* background-position: center; */
    background-repeat: repeat; 
    background-size: cover;
    width: 100%;
    font-family: 'Shadows Into Light', cursive;
}

h1{
    padding-top: 20px;
    text-align: center;
}
.words{
    padding: 10px 10px 0px 10px;
    background-color: rgb(135, 147, 170);
    border-radius: 15px;
}

.btn-light{
    background-color: lightblue;
    border: 1px solid navy;
    padding-left: 5px;
    text-align: center;
    justify-content: center;
}

#navbutton{
    justify-content: center;
    text-align: center;
    width: 100%;
}