<style>
    @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<div class= "container-fluid">
  <h1>PetalMail Messages</h1><br><hr><br>
  <button [routerLink]="'/view-emails'" class="btn btn-light" id="navbutton">Inbox</button>
  <button [routerLink]="'/contacts'" class="btn btn-light" id="navbutton">Contacts</button>
  <button [routerLink]="'/sent'" class="btn btn-light" id="navbutton">Sent</button>
  <button [routerLink]="'/spam'" class="btn btn-light" id="navbutton">Spam</button>
  <button [routerLink]="'/trash'" class="btn btn-light" id="navbutton">Trash</button>
  <button [routerLink]="''" class="btn btn-light" id="navbutton">Logout</button><br><br>
  
    <div>
 <div class = "words">
      <strong>From:</strong> {{ singleMessage.sender }}<br>
      <strong>To:</strong> {{ singleMessage.recipient }}<br><br> 
     <strong>Subject: {{ singleMessage.subject }} </strong><br><br>
      <strong>Message:</strong> {{ singleMessage.body }}<br><br>
      <button [routerLink]="'/compose'" class="btn btn-warning">Reply</button><br><hr>
      <button (click)="deleteMessage(singleMessage.id)" class="btn btn-danger">Delete</button><br><br>
    </div>
  </div>

 
  
</div>
