.container-fluid{
    padding-top: 10px;
    background-image: url('/assets/petal1.jpg');
    height: 800px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    font-family: 'Shadows Into Light', cursive;
}

.blankForm{
    
   background-color: pink;
}

.form-container{
    display: grid;
}

.box{
    height: 20vh;
}

button:hover{
    background-color: pink;
}

input{
    text-align-last: left;
}

